[submodule "App/Back"]
	path = App/Back
	url = git@github.com:SamTess/AREA_Back.git
	branch = fix-signature-validation
[submodule "App/Web"]
	path = App/Web
	url = git@github.com:SamTess/AREA_Web.git
	branch = fix-links-save
[submodule "App/Mobile"]
	path = App/Mobile
	url = git@github.com:SamTess/AREA_Mobile.git
	branch = main
