.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mat-primary);
  color: var(--mat-sys-on-primary);
}

.nav-menu {
  display: flex;
  gap: 1rem;
}

.app-title {
  margin-left: auto;
  font-size: 1.5rem;
  font-weight: bold;
}